div.menu {
    margin: 10px;
    display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(3, minmax(100px, auto));
    gap: 20px;
}
@media (max-width: 1700px) {
    div.menu {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (max-width: 1400px) {
    div.menu {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 1000px) {
    div.menu {
        grid-template-columns: repeat(2, 1fr);
    }
}
div.gridcells {
    padding: 10px;
    border: solid 2px black;
}
h1.rainbow {
    animation: h1rainbow 2s infinite;
}
@keyframes h1rainbow {
    14% {
        color: red;
    };
    28% {
        color: orange;
    }
    42% {
        color: yellow;
    }
    56% {
        color: green;
    }
    70% {
        color: blue;
    }
    84% {
        color: navy;
    }
    100% {
        color: purple;
    }
}

p.boxcaption {
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 5px;
    font-weight: bolder;
}
ol.box {
    margin: 5px;
    padding: 10px;
    padding-left: 25px;
    width: fit-content;
}
ol.box li {
    margin-bottom: 5px;
}
a.box {
    text-decoration: none;
}
a.report, a.report:visited {
    color: blue;
    text-decoration:underline;
}
a, a:visited {
    color: blueviolet;
}
a:hover, a.report:hover {
    color: violet;
}
a:active, a.report:active {
    color: yellowgreen;
}