@use 'styles' as style;

.NotFound {
  height: 100vh;
  display: flex;
  justify-items: center;
  vertical-align: middle;

  .backBtn {
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    width: 330px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    background-color: style.$gray-100;

    div {
      margin: auto;
      padding-bottom: 10px;
      font-size: style.$font-size-xxl;
      font-weight: bold;
      color: style.$text-color;
    }
    .btn {
      background-color: style.$yellow-500;
      border-color: style.$yellow-500;
      color: style.$text-color;
    }
    .btn:enabled:hover {
      background-color: style.$orange-500;
      border-color: style.$orange-500;
    }
  }
}
