:root {
    --default-font-size: 125%;
    --default-transduration: 0.5s;
    --Header-color: #613EA0;
    --Header-background: #222222;
    --Nav-color: #3A2560;
    --Nav-background: #F4F4F4;
    --Wrap-background: #FFFFFF;
    --Contents-width-desktop: 1200px;
    --Contents-width-mobile: 600px;
    --Contents-color: #000000;
    --Contents-background: #F7F7FD;
    --Footer-color: #A0A0A0;
    --Footer-background: #313851;
    --ScreenWidth: 1300px;
}
html, body {
    font-family: Roboto, Noto Sans KR, sans-serif, Arial, Helvetica;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}
div.Header {
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 0px;
    position: fixed;
    width: 100%;
    height: 75px;
    z-index: 2;
    float: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    color: var(--Header-color);
    background-color: var(--Header-background);
}
div.HeaderNav {
    position: relative;
    display: flex;
    margin-left: 100px;
    width: 800px;
    height: 100%;
    align-items: center;
}
a.Logo {
    margin-top: 10px;
    display: flex;
}
img.Logo {
    width: 200px;
}
.HeaderContents {
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
}
a.HeaderLink {
    position: relative;
    float: right;
    color: #BBBBBB;
    text-decoration: none;
}
a.HeaderLink:hover {
    color: #FFFFFF;
}
div.HeaderLogin {
    display: flex;
    margin-right: 100px;
    width: 500px;
    height: 100%;
    align-items: center;
    color: #FFFFFF;
}
div.HeaderLoginBox {
    margin-right: 20px;
}
span.HeaderLogin {
    margin-right: 20px;
    color: #BBBBBB;
}
div.Footer {
    position: relative;
    height: 200px;
    width: 100%;
    min-width: 1400px;
    max-width: none;
    left: 0px;
    color: var(--Footer-color);
    background-color: var(--Footer-background);
}
div.SiteInfo {
    padding-top: 5px;
    margin-left: 200px;
    
}
div.FooterContents {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    padding: 10px;
}
img.FooterLogo {
    width: 150px;
}